//aside.vue
.aside-block {
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: transform 0.3s ease-in-out;

    &.shifted {
        transform: translateX(-250px);
    }
}

.aside-block {
    width: 430px;
    height: 100vh;
    background-color: #161a1d;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;

    &.hidden {
        transform: translateX(-100%);
    }

    .box {
        // padding: 0 10px;
        align-items: center;
        justify-content: center;

        .aside-box1 {
            margin-top: 30px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            h3 {
                font-size: 25px;
                color: #9fadbc;

                p {
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            button {
                background-color: #161a1d;
                border: none;
                padding: 5px 5px;
                cursor: pointer;
                border-radius: 4px;
                transition: background-color 0.3s ease;

                img {
                    height: 22px;
                    width: 22px;
                }

                &:hover {
                    background-color: #424242;
                }
            }
        }

        .aside-box3 {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            align-items: center;
            justify-content: center;
            text-align: left;
            gap: 10px;
        }

        .aside-button_2 {
            @extend .aside-button-base;
            padding-right: 280px;
        }

        .aside-button-base {
            display: flex;
            width: 100%;
            text-align: left;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: #161a1d;
            color: white;

            p {
                padding: 10px;
                font-weight: 100;
                font-size: 17px;
            }

            img {
                padding-left: 2px;
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: #424242;
            }
        }

        .aside-box2 {
            margin-top: 40px;
            display: flex;
            align-items: center;
            padding: 10px;

            p {
                color: white;
                font-size: 20px;
            }
        }
    }
}

.open-aside {
    position: fixed;
    top: 20px;
    margin-left: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #0056b3;
    }
}


//header.vue
.header {
    height: 70px;
    width: 100%;
    background-color: #1d2125;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 20px;

        h1 {
            color: #fff;
        }

        .box {
            display: flex;
            gap: 10px;

            button {
                background-color: #007bff;
                color: #fff;
                /* Цвет текста */
                border: none;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            button:hover {
                background-color: #73b7ff;
            }

            input {
                padding: 5px 20px;
                border-radius: 6px;
                border: none;
                background-color: #22272b;
                color: white;
            }
        }
    }
}



//main.vue
.main_header {
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
    background-color: #00000058;
    transition: margin-left 0.3s ease;

    &.shifted {
        transform: translateX(-250px);
    }

    h1 {
        padding-left: 50px;
        font-size: 30px;
        color: white;
    }

    &.with-aside {
        padding-left: 450px;
    }

    &.without-aside {
        margin-left: 0;
    }
}


//mainCard.vue
.add_task_box {
    display: flex;
    margin-top: 10px;
    margin-right: 56px;
    gap: 5px;

    .add_task {
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;

        &:hover {
            background-color: #73b7ff;
        }
    }

    .del_task {
        border-radius: 5px;
        border: none;
        padding: 8px 15px;
        background-color: rgba(44, 44, 44, 0.447);
        color: white;

        &:hover {
            background-color: #404040;
        }
    }
}

.board {
    margin-top: 30px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 20px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 280px;
        background-color: #000000ee;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 9px 12px 15px rgba(0, 0, 0, 0.8);

        &.drop-target {
            border: 2px dashed #007bff;
            background-color: rgba(0, 123, 255, 0.1); 
        }

        &>h3 {
            color: white;
        }

        &>.board__card {
            cursor: grab;
            width: 100%;
            height: 100%;
            margin: 5px 0;
            color: #d3d3d3;
            padding: 15px 15px;
            background-color: #d3d3d349;
            border-radius: 8px;
            font-size: 14px;

            &:active {
                cursor: grabbing;
            }
        }
    }

    &__title {
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__add-button {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 250px;
        border: none;
        background-color: transparent;
        font-size: 14px;
        padding: 10px;
        border-radius: 12px;
        color: white;

        &:hover {
            background-color: #424242;
        }
    }

    &__add-icon {
        font-size: 16px;
        font-weight: bold;
    }

    &__add-text {
        font-size: 14px;
    }

    .input-container {
        display: none;
        position: relative;
        width: 100%;
    }

    .input-container.active {
        display: block;
    }

    .input-container input {
        display: flex;
        width: 100%;
        border: none;
        background-color: rgba(44, 44, 44, 0.447);
        padding: 15px;
        height: 45px;
        border-radius: 12px;
        font-size: 16px;
        color: #fff;
        outline: none;
        font-size: 12px;
    }

    .board__add-button {
        cursor: pointer;
        background-color: rgba(44, 44, 44, 0.447);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;

        &:hover {
            background-color: #242424;
        }
    }
}

.board {
    transition: margin-left 0.3s ease;

    &.with-aside {
        margin-left: 450px;
    }

    &.without-aside {
        margin-left: 0;
    }
}